body{
    background-color:#f4f1de;
    color:#3d405b;
}



h1{
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-bottom: none;
}
p{
    text-align: center;
    padding-top: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    padding-bottom: 10px;

}

.caption{
    text-align: center;
    padding-top: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size:0.5rem;
}
